@import url('https://fonts.googleapis.com/css?family=Muli|Sarala:400,700&display=swap');
body{
	font-family: 'Muli', sans-serif;
	color:#234476;
	font-size:22px;
	overflow-x: hidden;	
}
a:hover{
	text-decoration: none;

}
header{
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 2px 30px -20px #174fa7;
	margin-left: 0px;
	margin-right: 0px
}
h1,h2,h3,h4,h5{
	font-family: 'Sarala', sans-serif;
	font-weight: bold;
	color:#174fa7;
}
h1{
	font-size:62px;
}
h2{
	font-size: 55px;
}
h3{
	font-size:40px;
}
h4{
	font-size:30px;
}
li a{
	color:#ffffff;
	font-size:15px;
}
.v-btn{
	padding:5px 25px;
	border-radius:6px;
	font-size: 22px;	
	height:50px;
	border:none;
	max-width:300px;
}
.v-btn-primary{
	background-color:hsl(217, 76%, 37%);
	color:#ffffff;
	max-width:200px;
}
.v-btn-primary:hover{
	border:1px solid #91b2e5;
	background-color: #ffffff;
	color:#174fa7;
}
.v-btn-outline{
	border:1px solid #91b2e5;
	background-color: #ffffff;
	color:#174fa7;
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 2px 30px -20px #174fa7;
}
.v-btn-outline:hover{
	background-color:#174fa7;
	color:#ffffff;
}
.v-input-group{
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 2px 30px -20px #174fa7;
}
.input-group-prepend{
	height:50px;
}
.input-group-prepend > button{
	color:#174fa7;
	background-color: #f5f8ff;
	border:1px solid #91b2e5;
}
.input-group-prepend > button:hover{
	background-color:#174fa7;
	color:#ffffff;
}
.v-input{
	height:50px!important;
	color:#174fa7;
}
.rounded-left{
	border-radius:6px 0 0 6px!important;
}
.outline-input{
	border:1px solid #91b2e5;
}
.slider-section{
	background-color: #f5f8ff;
	font-size:16px;
}
.slider-section li, a{
	color:#174fa7;
}
.slider-title{
	background-color: #e7f0f9;
	color:#174fa7!important;
	border-radius:6px 0 0 6px;
}
.v-btn-purple{
	background-color:#906eb1;
	color:#ffffff;
	width:150px;
}
.v-btn-outline-purple{
	background-color:#e6deed;
	color:#ffffff;
	width:150px;
	color:#906eb1;
	border:1px solid #906eb1;
}
.v-btn-purple i{
	font-size:15px;
}
.image-card{
	max-width:450px;
	height:450px;
	border-radius:6px;
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 2px 30px -20px #174fa7;
}
.image-con{
	position:relative;
}
.abs-img{
	position: absolute;
	bottom:0;
	width:150px;
	left:85%;
}
.left-abs-img{
	width:200px;
	height:200px;
	background-color:rgba(23, 79, 167, 0.8);
	border-radius:7px;
	position: absolute;
	left:-23%;
	bottom:-15%;
	padding:1rem;
}
.short-hr{
	width:150px;
	background-color: #174fa7;
	opacity:0.5;
	display: inline-block;
	height:1px;
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 2px 30px -20px #174fa7;
}

.light-blue-bg{
	background-color: #f5f8ff;
}
.v-card{
	width:500px;
	background-color:#ffffff;
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 2px 30px -20px #174fa7;
}
.v-card-img{
	width:84px;
	height:93px;
}
.small-text{
	font-size:20px;
}
.link-purple, .link-green{
	font-size:20px;
}
.link-purple{
color:#906eb1;
}
.link-green{
	color:#35c69f;
}
.purple-bottom,.green-bottom{
	width:200px;
	height:10px;
}
.purple-bottom{
	background-color: #906eb1
}
.green-bottom{
	background-color: #35c69f;
}
.map-con{
	background-image: url('../assets/Join\ fellow.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height:700px;
	width:800px;
}
.big-h, .small-h{
	font-family: 'Sarala', sans-serif;
	color:#174fa7;
	margin-left:-160px;
}
.big-h{
	font-size:80px;
}
.small-h{
	font-size:40px;
}
.deep-bg{
	background-color:#174fa7;
}
.short-br-line{
	width:400px;
	background-color: #ffffff;
	height:1px;
	display: inline-block;
	opacity: 0.5;
}
.v-list ul{
	color:#ffffff;
	list-style-type: none;
}
.v-list ul li{
	margin-top:10px;
}
.slim-img{
	width:400px;
	border-radius:6px;
}
.img-testimonial{
	width:600px;
	height:600px;
	object-fit: cover;
}
.spaced-text{
	color:#174fa7;
	font-family: 'Sarala', sans-serif;
	max-width:360px;
	line-height: 60px;
}
.testimony-text{
	font-size:15px;
	color:#174fa7;
}
.white-bg{
	background-color: #ffffff;
}
.m-width{
	max-width: 300px;
}
.m-width p{
	font-size:15px;
	line-height: 30px;
}
.v-input-primary{
	height:50px!important;
	border-radius:6px;
	border:none;
	color:#174fa7;
}
.v-input-primary::placeholder, .outline-input::placeholder{
	font-size:15px;
	text-align: center;
}
.v-btn-white{
	background-color: #ffffff;
	color:#174fa7;
}
.v-btn-white:hover{
	background-color: #174fa7;
	color:#ffffff;
	border: 1px solid #ffffff;
}
.tiny-text{
	font-size:12px;
	font-family: 'Sarala', sans-serif;
}
.fade-text{
	color:#749cdd;
}
.v-text-blue{
	color:#174fa7!important;
}
.small-title-text{
	font-size:16px;
}
.unilogo-img{
	height:250px;
	width:120px;
	object-fit:contain;
	
}
.light-title{
	color:#cad6e1;
	font-size:14px;
	font-family: 'Muli', sans-serif;
	font-weight:100;
}
table{
	width:100%;
	border-collapse: collapse;
}
.tabledivider{
	height:0.5rem;
}
.table-item td{
	padding-top:10px;
	padding-bottom: 10px;
	background-color: #ffffff;
	margin-bottom: 5px;
}
td:first-child {
	border-radius: 10px 0 0 10px;
	background-color: #ffffff;
	padding-left:20px;
}
td:last-child {
	border-radius:0 10px 10px 0;
	background-color: #ffffff;
}
.v-no-shadow{
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}
.subscribe-section{
	border-radius: 6px;
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 15px 30px -20px #174fa7;
}
.v-input-blue-outline{
	border:1px solid #ffffff;
	background-color: #3969b3;
	height:50px!important;
	border-radius:6px;
	padding-left:5px;
	padding-right: 20px;
	color:#ffffff;
	font-size:16px;
}
.v-input-blue-outline::placeholder{
	color:#82a2d8;
	opacity: 1;
	font-size:16px;
}
.circle-img{
	height:30px;
	width:30px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top:calc(100% - 15px);
}
.circle-img img{
	object-fit: cover;
}
.circ-2{
	left:calc(20px);
}
.circ-3{
	left:calc(40px);
}
.sign-nav{
	background-color: #e7f0f9;
	font-size:14px;
	font-weight: bold;
}
.deeper-light-bg{
	background-color: #e7f0f9;
}
.active-sign-nav{
	border-radius:6px;
	background-color: #ffffff;
}

.top-items-nav a{
	width:50%;
	display: inline-block;
}
.v-outline-input{
	border:1px solid #91b2e5;
	border-radius: 6px;
}
.v-outline-input::placeholder{
	color:#cad6e1;
	font-size:14px;
}
.fa-select{
	border:1px solid #91b2e5;
	border-radius: 6px;
	color:#cad6e1;
}
select{
	border:1px solid #91b2e5;
	border-radius: 6px;	
}
.fa-select:focus{
	color:#174fa7;
}
select, input{
	font-size:14px;
	color:#174fa7;
}
.wd-100{
	width:100%!important;
	max-width: 100%!important;
}
label{
	display: block;
	color:#174fa7;
	font-size:14px;
	font-weight: bold;
}
.fa-input::placeholder{
	 font-family: FontAwesome, 'Muli', sans-serif;
}
.fa-input{
	font-family: FontAwesome, 'Muli', sans-serif;
}
form{
	width:500px;
	min-height:500px;
}
.bottom-text{
	font-size:12px;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}
.purple-text{
	color:#906eb1;
}
.faint-text{
	color:#cad6e1;
}
.bold-mini-text{
	font-size:16px;
	font-weight: bold;
}
.round-img-profile{
	height:40px;
	width:40px;
	border-right: 50%;
	object-fit: contain;
}
.search-icon{
	color:#174fa7;
	font-size:30px;
	-webkit-text-stroke: 2px white;
}
.v-btn-transparent{
	border:none;
	background-color: #ffffff;
	color:#174fa7;
	font-size:16px;
	font-weight: bold;
}
/* for js */
#main-nav{
	display:flex;
}
#search-nav{
	display: none;
}


/* Hover.css */
.hvr-grow-shadow {
  /* display: inline-block;
  vertical-align: middle; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
	box-shadow: 4px 2px 30px -20px #174fa7;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Iterations of bootstrap */
.mt-7{
	margin-top:15rem;
}
.py-7{
	padding-top:8rem;
	padding-bottom: 8rem;
}
.text-decoration-underline{
	text-decoration: underline;
}
.ml-7{
	margin-left:10rem;
}
.dropdown-item{
	color:#b8d0e7;
}
.dropdown-item:hover{
	background-color: #ffffff;
	color:#174fa7;
}
.dropdown-menu{
	-webkit-box-shadow: 4px 2px 30px -20px #174fa7;
	-moz-box-shadow: 4px 2px 30px -20px #174fa7;
	box-shadow: 4px 2px 30px -20px #174fa7;
	border:none;
}
.mobile-menu-icon{
	font-size:30px;
	color:#174fa7;
}

/* UIKit */
.slider-dots > li > a{
	border: 1px solid #174fa7!important;
}
.slider-dots > .uk-active > *{
	background-color: #174fa7!important;
}
.slider-dots > * > :focus, .slider-dots > * > :hover{
	background-color: #174fa7!important;
}


/* Media query small */
@media only screen and (max-width:767px){
	h1{
		font-size:40px;
	}
	h2{
		font-size: 35px;
	}
	h3{
		font-size:20px;
	}
	h4{
		font-size:10px;
	}
	.image-con{
		display: flex;
		justify-content: center;
		margin-top:15px;
	}
	.pl-sm{
		padding-left:15px!important;
	}
	.ml-sm-0{
		margin-left: 0rem!important;
	}
	.mt-sm{
		margin-top:2rem!important;
	}
	.img-testimonial{
		width:400px;
		height:400px;
		object-fit: cover;
	}
	.spaced-text{
		max-width:290px;
	}
	.scroll-table{
		width:100%;
		overflow-x:scroll;
	}
	td, th{
		white-space: nowrap;
		padding:0 8px;
	}
	/* for js */
	#search-nav{
		display: none!important;
	}
	#main-nav{
		display:flex!important;
	}
}
@media only screen and (max-width:999px){
	body{
		font-size:18px;
	}
	h1{
		font-size:40px;
	}
	h2{
		font-size: 35px;
	}
	h3{
		font-size:25px;
	}
	h4{
		font-size:20px;
	}
	.image-card{
		width:300px;
		height:300px;
	}
	.abs-img{
		position: absolute;
		bottom:0;
		width:100px;
		left:75%;
	}
	.v-card{
		width:300px;
		height:600px;
	}
	.map-con{
		height:500px;
		width:600px;
	}
	.big-h, .small-h{
		margin-left:-160px;
	}
	.big-h{
		font-size:60px;
	}
	.small-h{
		font-size:30px;
	}
	.left-abs-img{
		width:100px;
		height:100px;
		left:-5%;
		bottom:-15%;
		padding:5px;
	}
	.left-abs-img p{
		font-size:12px;
	}
	.slim-img{
		width:300px;
	}
	
	/* bootstrap iteration */
	.ml-md-0{
		margin-left:0rem!important;
	}
	.pl-md-0{
		padding-left:0rem!important;
	}
	.mt-md{
		margin-top:3rem;
	}
	/* .ml-md{
		
	} */
}

/* tablets */
@media only screen and (min-width:768px) and (max-width:999px){
	.img-testimonial{
		width:300px;
		height:300px;
		object-fit: cover;
	}
	.spaced-text{
		line-height: 45px;
		max-width:310px;
	}
}